body {
    background-color: lightblue;
}
h1 {
    color: black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

table {
  display:table-header-group
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;

  width:275px
}
th, td, tr{
}
